.photo-view-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.exit-btn {
    font-size: 24px;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 999;
    cursor: pointer;

}

.profile-view-nav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 16px;
}

.photo-view-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90vh;
}

.photo-view {
    max-width: 60%;
    height: 100%;
}

.photo-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-view-comments {
    padding-left: 14px;
    width: 40%!important;
}

.comments-view-user {
    padding: 16px 16px 16px 0;
    border-bottom: solid 1px #dbdbdb;
}

.photo-view-comments img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 8px;
}

.comments-view-caption,
.comment-view {
    padding: 16px 16px 16px 0;
}

.comment-add {
    border-top: solid 1px #dbdbdb;
    margin-right: 16px;
    width: auto;
}

.comment-add input {
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
}

.comment-add button {
    margin-right: 16px;
    background-color: transparent;
}

.photo-view-bottom {
    margin-top: auto;
    width: 100%;
}

.photo-view-actions {
    border-top: 1px solid #dbdbdb;
    margin-right: 16px;
    padding-top: 8px;

}

.photo-view-post-details {
    margin: 16px 0;
}

.comment-not-found {
    padding: 16px;
}

.delete-post-btn:hover {
    color: red;
    cursor: pointer;
}