.form-component {
  height: 100vh;
  width: 100%;
  gap: 32px;
}

.logo-form img {
  height: 50px;
  margin: 48px;
}

.container {
  max-width: 30%;
  min-height: 600px;
  min-width: 400px;
  padding: 24px;
}

.container p {
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}

.validation-display {
  height: 48px;
  color: #980511;
}

.validation-display > p {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
}

form {
  width: 85%;
}

form > div {
  width: 100%;
}

.input-container {
  position: relative;
}

.logo-form > img {
  cursor: pointer;
}

.field {
  width: 100%;
}

.field input {
  padding: 0 12px;
  margin-bottom: 4px;
  margin-top: 8px;
  color: #6d6b6c;
}

.getlocation-btn {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 17.5%;
  transform: translate(0, -25%);
}

.location-form {
  background-color: #efefef;
}

.location-form > .input-container > input {
  margin: 16px;
}

.login-btn,
.register-btn {
  cursor: pointer;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #980511;
}

/* .login-btn:hover,
.register-btn:hover,
.location-btn:hover {
  background-color: #980511;
}

.register-link:hover,
.login-link:hover {
  color: #5c0206;
  cursor: pointer;
} */