.footer {
    font-size: 18px;
    padding: 0 64px;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.social-i:hover, .footer-links span:hover{
    cursor: pointer;
    color: #CE091B;
}

.footer-social {
    gap: 16px;
}

.footer-social p {
    margin-left: 16px;
}

.footer-links {
    gap: 32px;
}

.footer-links a:hover {
    cursor: pointer;
    color: #849f98;
}