.feed-main {
    min-height: 100vh;
    justify-content: space-between;
}

.feed-mid-container {
    margin-top: 32px;
}

.post-container {
    width: 470px;
    height: auto;
    border-bottom: #dbdbdb 1px solid;
    padding: 8px 0;
}

.post-header {
    width: 100%;
    padding-bottom: 16px;
}

.post-header-left img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-image img {
    width: 100%;
    height: auto;
}

.post-actions {
    width: 100%;
    padding: 8px;
    gap: 12px;
}

.action:hover {
    cursor: pointer;
    color: #dbdbdb;
}

.post-add-comment,
.post-comments,
.post-likes,
.post-caption {
    width: 100%;
    padding: 4px;
}

.post-add-comment input {
    border: none;
    width: 100%;
}

.post-add-comment input:focus {
    outline: none;
}

.left-bar-main,
.right-bar-main {
    width: 20%;
    gap: 24px;
    padding-left: 24px;
    border-right: #dbdbdb 1px solid;
}

.right-bar-main{
    width: 25%;
}

.left-bar-main {
    justify-content: space-between;
    padding-bottom: 36px;
}

.left-bar-logo img {
    margin: 36px 0;
    height: 30px;
}

.left-bar-links {
    gap: 36px;
}

.left-bar-links > div > p:hover {
    cursor: pointer;
    color: #737373;
}

.left-bar-links>div {
    align-items: center;
    gap: 16px;
}

.left-bar-icon {
    width: 25px;
    height: 25px;
}

.left-bar-profile img {
    width: 25px;
    border-radius: 50%;
}

.right-bar-main {
    padding: 0;
}

.right-bar-profile {
    margin: 36px 0;
}


.right-bar-main img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.right-bar-main > p {
    padding-bottom: 12px;
}

.right-bar-suggested {
    padding-right: 24px;
}

.right-bar-main>div,
.right-bar-main>div>div {
    gap: 12px;
}

.suggested-card {
    width: 100%;
    padding: 8px 0;
}

.follow-button:hover {
    cursor: pointer;
    color: #00376b;
}