.primary-text {
  color: #0095f6;
}

.secondary-text {
  color: #dbdbdb;
}

.black-text {
  color: #161213;
}

.light-text {
  color: #737373;
}

.lightest-text {
  color: #c7c7c7;
}

.primary-bg {
  background-color: #4cb5f9;
}

.secondary-bg {
  background-color: #dbdbdb;
}

.light-gray-bg {
  background-color: #f2f2f2;
}

.no-bg {
  background-color: transparent;
}

/* Hover Color Button: #00376b Link Hover: #00376b */