.primary-text {
  color: #ce091b;
}

.black-text {
  color: #161213;
}

.dark-text {
  color: #30302f;
}

.light-text {
  color: #6d6b6c;
}

.secondary-text {
  color: #ed941b;
}

.gray-bg {
  background-color: #404040;
}

.light-gray-bg {
  background-color: #f7f7f7;
}

.white-bg {
  background-color: #ffffff;
}

.white-text {
  color: #ffffff;
}

.off-white-text {
  color: #dee2e6;
}

.off-white-bg {
  color: #dee2e6;
}

.onclick-nav-bg {
  background-color: #adb5bd;
}

.primary-bg {
  background-color: #ce091b;
}

.secondary-bg {
  background-color: #ed941b;
}

.black-bg {
  background-color: #161213;
}

.black-bg-trsp-s {
  background-color: #16121395;
}

.black-bg-trsp {
  background-color: #16121350;
}

.off-white-bg-trsp {
  background-color: #dee2e650;
}

.light-gray-bg-trsp {
  background-color: #6d6b6c50;
}

.no-bg {
  background-color: transparent;
}

/* Hover Color Button: #980511 Link Hover: #5C0206 */
