@media screen and (max-width:1344px) {

    .left-bar-main {
        width: auto;
        padding: 32px;

    }

    .left-bar-links p,
    .left-bar-logo img {
        display: none;
    }

    .profile-main {
        margin: 0 96px;
    }
}

@media screen and (max-width:944px) {
    .feed-main {
        margin-left: 88px;
    }

    .suggested-card {
        flex-direction: column;
    }

    .post-container {
        width: 300px;
    }

}

@media screen and (max-width:600px) {
    .feed-main {
        margin: 0 88px;
    }

    .right-bar {
        display: none;
    }

    .left-bar-main {
        padding: 16px;
    }
}