* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

ul {
    list-style-type: none;
}

/* h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    font-weight: 400;
} */

.size-s {
    font-size: 12px;
}

.size-m {
    font-size: 14px;
}

.size-l {
    font-size: 16px;
}

.size-xl {
    font-size: 20px;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
    align-items: center;
}

.space-around {
    justify-content: space-around;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.box-shadow {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
}

.box-shadow-l {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.border {
    border: 1px solid #dbdbdb;
}

.border-dark {
    border: 1px solid #30302F;
}

.border-radius-s {
    border-radius: 4px;
}

.border-radius {
    border-radius: 8px;
}

.border-radius-m {
    border-radius: 12px;
}

.border-radius-l {
    border-radius: 24px;
}

.primary-btn {
    background-color: #4cb5f9;
    color: white;
    font-weight: 600;
}

.primary-btn:hover {
    background-color: #00376b;
}

.secondary-btn {
    background-color: #EFEFEF;
}

.secondary-btn:hover {
    background-color: #dbdbdb;
}

.input-btn-lg {
    width: 100%;
    height: 37px;
}

.btn-s {
    height: 30px;
    width: 110px;
    font-size: 16px;
}

.btn-l {
    height: 48px;
    width: 160px;
    font-size: 18px;
}

.hidden {
    display: none;
}